<!DOCTYPE html>
{% set dynamicTitle %}
{% if eleventy.serverless.path.slug %}”{{ eleventy.serverless.path.slug }}“ Search • These Kids Read
  {% elseif title %}{{ title}} • These Kids Read
  {% else %}These Kids Read
  {% endif %}
{% endset %}
{% set dynamicDescription %}
{% if eleventy.serverless.path.slug %}Search results for ”{{ eleventy.serverless.path.slug }}“
  {% elseif description %}{{ description }}
{% else %}Our family reads great books together
  {% endif %}
{% endset %}
<html lang="en" class="color__bg--gradient">
  <head>
    <title>
      {{ dynamicTitle }}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="author" content="Jared Pendergraft">
    <meta name="keywords" content="jared pendergraft, these kids read, jared pendergraft, kids books, great book for kids">
    <meta name="description" content="{{ dynamicDescription }}">
    <meta property="og:description" content="{{ dynamicDescription }}">
    <meta property="og:site_name" content="These Kids Read">
    <meta property="og:title" content="{{ dynamicTitle }}">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#8c5ee8">
    <meta name="apple-mobile-web-app-title" content="These Kids Read">
    <meta name="google-site-verification" content="6huOtU9q3PYnk3Rt1yJsCLU6uHn6NnwwmI2oZf_aYNk">
    <link rel="icon" href="favicon.svg" type="image/svg+xml">
    <link rel="icon" href="favicon.ico" alternate>
    <link rel="preconnect" href="https://unpkg.com">
    <link rel="preload" href="https://unpkg.com/@jaredpdesigns/pasta@latest/pasta.css" as="style">
    <link rel="stylesheet" href="https://unpkg.com/@jaredpdesigns/pasta@latest/pasta.css">
    <link rel="preconnect" href="https://use.typekit.net">
    <link rel="preload" href="https://use.typekit.net/fbk7qer.css" as="style">
    <link rel="stylesheet" href="https://use.typekit.net/fbk7qer.css">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
    {% set js %}
    {% include "_scripts.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  </head>
  <body class="flow__grid">
    <header class="color__bg--blur flow__grid flow__align--v-center flow__gap--m padding__bottom--m padding__top--m">
      <nav class="flow__grid flow__align--h-center flow__align--v-center flow__gap--m type__align--center">
        <a href="/" title="Return to overview">{% include 'logo.svg' %}</a>
        <section class="flow__inline flow__align--h-center flow__align--v-center flow__flex--wrap flow__gap--m">
          <a class="color__type--base--ish flow__inline flow__align--v-center flow__gap--s padding__all--xs radius__xs type__family--secondary type__size--m-l type__weight--semibold" href="/about/">{% Icon 'book' %}About</a>
          <a class="color__type--base--ish flow__inline flow__align--v-center flow__gap--s padding__all--xs radius__xs type__family--secondary type__size--m-l type__weight--semibold" href="/books/{{ books | random }}">{% Icon 'surprise' %}Surprise Me</a>
          <a class="color__type--base--ish flow__inline flow__align--v-center flow__gap--s padding__all--xs radius__xs type__family--secondary type__size--m-l type__weight--semibold" href="mailto:thesekidsread@gmail.com?subject=You should read this book next…" title="Suggest a book for us to read">{% Icon 'suggest' %}Suggest</a>
        </section>
      </nav>
      <form action="/search" class="flow__inline position__relative width__m">
        <fieldset class="control__input flow__flex--grow">
          <input aria-label="Input search query" id="term" name="term" type="text" placeholder="Search books…"/>
        </fieldset>
        <button aria-label="Submit search form" class="button__primary flow__flex--shrink-no position__absolute radius__bl--none radius__tl--none" type="submit">{% Icon 'search' %}</button>
      </form>
    </header>
    <main class="notch">
      {% if eleventy.serverless.path.slug %}
        {% include 'search.njk' %}
      {% else %}
        <article class="{{ class }}">
          {{ content | safe }}
        </article>
      {% endif %}
    </main>
    <footer class="color__bg--blur padding__all--m">
      <nav class="flow__flex flow__align--h-center flow__align--v-center flow__flex--wrap flow__gap--m width__l">
        <a class="color__type--base--ish flow__inline flow__align--v-center flow__gap--s padding__all--xs radius__xs type__family--secondary type__size--m-l type__weight--semibold" href="https://jaredpendergraft.com" target="_blank" rel="noopener">{% Icon 'heart' %}Made by My Dad</a>
        <button class="color__type--base--ish flow__inline flow__align--v-center flow__gap--s padding__all--xs radius__xs type__family--secondary type__size--m-l type__weight--semibold" onclick="setTheme()">{% Icon 'theme' %}Toggle Theme</button>
      </nav>
    </footer>
  </body>
</html>