<article class="book book--detail wrapper wrapper--bleed">
  <figure class="type__align--center">
    <img alt="{{ page.title }} cover art" data-src="{{ page.img }}">
  </figure>
  <figcaption>
    <h1 class="book__title">{{ page.title }}</h1>
    <p class="book__author">{{ page.tags | join: '</span> & <span class="book__author--actual">' | prepend: 'by <span class="book__author--actual">' }}</span></p>
    <p class="book__description">{{ page.description }}</p>
    <a class="btn" href="{{ page.buy }}" target="_blank">Buy a Copy {% include svg/buy.svg %}</a>
  </figcaption>
</article>