<article class="book">
  <figure class="type__align--center">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <img alt="{{ post.title }} cover art" data-src="{{ post.img | replace: '_SL480_.jpg', '_SL240_.jpg' }}">
    </a>
  </figure>
  <figcaption class="type__align--center">
    <h3 class="book__title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
    <p class="book__author">{{ post.tags | join: '</span> & <span class="book__author--actual">' | prepend: 'by <span class="book__author--actual">' }}</span></p>
  </figcaption>
</article>