</main>
<footer role="main">
  <nav role="secondary" class="wrapper type__align--center">
    <a class="search linky" href="{{ site.baseurl }}/search">Search{% include svg/search.svg %}</a>
    <a class="subscribe linky" href="http://feeds.feedburner.com/thesekidsread" target="_blank">Subscribe{% include svg/subscribe.svg %}</a>
  </nav>
</footer>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" async></script>
<script type="text/javascript" src="{{ "/assets/js/site.js" | prepend: site.baseurl }}" async></script>
</html>