<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="Jared Pendergraft">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.tags %}{{ page.title | downcase }}, {{ page.tags | join: ', ' | downcase }}, {{ site.keywords }}{% else %}{{ site.keywords }}{% endif %}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  <meta name="google-site-verification" content="6huOtU9q3PYnk3Rt1yJsCLU6uHn6NnwwmI2oZf_aYNk">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="These Kids Read">
  <link rel="apple-touch-icon" href="{{ "/assets/img/touch-icon-iphone.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/img/touch-icon-ipad.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/img/touch-icon-iphone-retina.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/img/touch-icon-ipad-retina.png" | prepend: site.baseurl }}">
  <link rel="mask-icon" href="{{ "/assets/img/website_icon.svg" | prepend: site.baseurl }}" color="#00BFAF">
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <meta property="og:url" content="{{ site.url }}"/>
  <meta property="og:image" content="{% if page.img %}{{ page.img | replace:'../assets','http://thesekidsread.com/assets' }}{% else %}{{ "/assets/img/social.jpg" | prepend: site.url }}{% endif %}"/>
  <meta name="twitter:card" content="photo">
  <meta name="twitter:creator" content="@{{ site.twitter }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:domain" content="{{ site.url }}">
  <meta name="twitter:image:src" content="{% if page.img %}{{ page.img | replace:'../assets','http://thesekidsread.com/assets' }}{% else %}{{ "/assets/img/social.jpg" | prepend: site.url }}{% endif %}">
</head>
<body {% if page.class %}class="{{ page.class }}"{% endif %}>
<header role="main">
  <nav role="main" class="wrapper wrapper--short type__align--center">
    <a class="logo" href="{{ site.baseurl }}/">{% include svg/logo.svg %}</a>
    <a class="about linky" href="{{ site.baseurl }}/about">About{% include svg/book.svg %}</a>
    <a class="suggest linky" href="mailto:{{ site.email }}?subject=You should read this book next…">Suggest{% include svg/suggest.svg %}</a>
    <section class="social">
      <a class="linky" href="https://twitter.com/{{ site.social }}" target="_blank">{% include svg/twitter.svg %}</a>
      <a class="linky" href="https://facebook.com/{{ site.social }}" target="_blank">{% include svg/facebook.svg %}</a>
    </section>
  </nav>
</header>
<main>