<section class="related color__bg--white">
  <section class="book__holder">
    {% assign related = page.url | split: ' ' %}
    {% for tag in page.tags %}
      {% for post in site.tags[tag] %}
        {% if related contains post.url %}
        {% else %}
          {% include book.html %}
        {% assign related = related | push: post.url %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    <header class="type__align--center">
      <h4>Other great books {{ page.tags | join: '</strong> & <strong>' | prepend: 'by <strong>' }}</strong></h4>
    </header>
    <footer class="type__align--center">
      <p>We’ve only read this book {{ page.tags | join: '</span> & <span class="book__author book__author--actual">' | prepend: 'by <span class="book__author book__author--actual">' }}</span>.</p>
      <p>See <a href="{{ site.baseurl }}/">other books</a> we’ve read or <a href="mailto:{{ site.email }}?subject=You should read this book next…">suggest one</a> we haven’t.</p>
    </footer>
  </section>
</section>