// Typography

html {
  @include type-sans;
  font-size: 100%;
  color: $color-base;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga", "clig";
}

h1 { @include type-xl; }

h2 { @include type-l; }

h3 { @include type-ml; }

p, li { @include type-m; }

h4 { @include type-s; }

h5 { @include type-xs; }

b, strong { @include type-bold; }

i, em { @include type-italic; }

hr {
  display: block;
  border-top: $border-s $color-highlight-25;
}

abbr {
  font-variant-caps: all-small-caps;
  font-feature-settings: "c2sc", "smcp";
}

code {
  @include type-mono;
  @include padding(xs);
  background-color: $color-tint;
  border: $border-s $color-base-12;
  border-radius: $space-xxs;
  color: $color-base-75;
  white-space: pre-wrap;
}

pre {
  @include type-m;
  @include padding(s);
  background-color: $color-tint;
  border: $border-s $color-base-12;
  border-radius: $space-xs;
  overflow: hidden;
  overflow-x: auto;
  word-wrap: normal;
  code {
    border: none;
    padding: 0;
    white-space: pre;
  }
}

.type__style--sans { @include type-sans; }

.type__style--serif { @include type-serif; }

.type__style--mono { @include type-mono; }

.type__style--caps { @include type-caps; }

.type__align--left { @include type-left; }

.type__align--center { @include type-center; }

.type__align--right { @include type-right; }

.type__align--legible { @include type-legible; }

.type__align--inline {
  @include inline;
  + .type__align--inline { @include margin(s,l); }
}

// List Items

ol, ul {
  @include padding(m,l);
  list-style-position: outside;
  @include bp(m) { padding-left: 0; }
}

ol li { list-style-type: decimal; }

ul li { list-style-type: disc; }

// Links 

a { @include smooth; }

p a:not(.btn) {
  color: $color-highlight;
  text-decoration: underline;
  &:hover { color: $color-highlight-75; }
}

// Colors

.color__bg--base      { background-color: $color-base; }
.color__bg--base-75   { background-color: $color-base-75; }
.color__bg--base-62   { background-color: $color-base-62; }
.color__bg--base-50   { background-color: $color-base-50; }
.color__bg--base-38   { background-color: $color-base-38; }
.color__bg--base-25   { background-color: $color-base-25; }
.color__bg--base-12   { background-color: $color-base-12; }
.color__bg--base-5    { background-color: $color-base-5; }
.color__bg--base-dark { background-color: $color-base-dark; }

.color__bg--highlight      { background-color: $color-highlight; }
.color__bg--highlight-75   { background-color: $color-highlight-75; }
.color__bg--highlight-62   { background-color: $color-highlight-62; }
.color__bg--highlight-50   { background-color: $color-highlight-50; }
.color__bg--highlight-38   { background-color: $color-highlight-38; }
.color__bg--highlight-25   { background-color: $color-highlight-25; }
.color__bg--highlight-12   { background-color: $color-highlight-12; }
.color__bg--highlight-5    { background-color: $color-highlight-5; }
.color__bg--highlight-dark { background-color: $color-highlight-dark; }

.color__bg--white { background-color: $color-tint; }

.color__type--base      { color: $color-base; }
.color__type--base-75   { color: $color-base-75; }
.color__type--base-62   { color: $color-base-62; }
.color__type--base-50   { color: $color-base-50; }
.color__type--base-38   { color: $color-base-38; }
.color__type--base-25   { color: $color-base-25; }
.color__type--base-12   { color: $color-base-12; }
.color__type--base-5    { color: $color-base-5; }
.color__type--base-dark { color: $color-base-dark; }

.color__type--highlight      { color: $color-highlight; }
.color__type--highlight-75   { color: $color-highlight-75; }
.color__type--highlight-62   { color: $color-highlight-62; }
.color__type--highlight-50   { color: $color-highlight-50; }
.color__type--highlight-38   { color: $color-highlight-38; }
.color__type--highlight-25   { color: $color-highlight-25; }
.color__type--highlight-12   { color: $color-highlight-12; }
.color__type--highlight-5    { color: $color-highlight-5; }
.color__type--highlight-dark { color: $color-highlight-dark; }

.color__type--white { color: $color-tint; }