---
layout: default
---
<article>
  <header class="about__hero" style="background-image: url('{{ site.baseurl }}/assets/img/about.jpg')">
    <section class="wrapper">
      <h1 class="type__align--center">We read great books together</h1>
      <p>We try and go to the library as often as possible to find new—and favorite—books to sit back and sink into. Books are amazing transformative devices that expand our minds and we wouldn't be the same without them.</p>
      <p>Help us find new books by suggesting ones we haven't read or follow our journey online, and hopefully you'll find a good read for you and your kids. Happy reading!</p>
      <p class="type__align--center"><a class="btn btn--secondary" href="mailto:{{ site.email }}?subject=You should read this book next…">Suggest a Book {% include svg/suggest.svg %}</a><a class="btn btn--secondary" href="http://twitter.com/{{ site.twitter }}" target="_blank">Follow Us {% include svg/follow.svg %}</a></p>
    </section>
  </header>
  <section class="wrapper about__text">
    {{ content }}
  </section>
</article>

