{% include header.html %}
<section id="booksearch">
  <section class="search__bar color__bg--white">
    <section class="wrapper">
      <input class="search" type="text" placeholder="Search for a Book" />
      <button class="btn sort" data-sort="book__title">{% include svg/sort.svg %} Title</button>
      <button class="btn sort" data-sort="book__author">{% include svg/sort.svg %} Author</button>
    </section>
  </section>
  <section class="search__list list wrapper">
    {% for post in site.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="search__result book">
      <h3 class="book__title">{{ post.title }}</h3>
      <p class="book__author">{{ post.tags | join: '</span> & <span class="book__author--actual">' | prepend: 'by <span class="book__author--actual">' }}</span></p>
    </a>
    {% endfor %}
  </section>
</section>
{% include footer.html %}