---
---

*:focus {
  outline: none;
}

@import url("https://use.typekit.net/fbk7qer.css");

$type-sans:  "proxima-nova", sans-serif;
$type-serif:  "proxima-soft", sans-serif;
$type-condensed: "proxima-soft-condensed", sans-serif;
@mixin type-condensed { font-family: $type-condensed; }

$color-highlight: #00BFAF;

@import "start";

// Page Structure


h1, h2, h3, h4, h5 { @include type-serif; }
.btn, .linky, .book__author--actual { @include type-condensed; }

h4 {
  @include type-caps;
  font-weight: normal;
}

h5 { @include type-caps; }

html {
  background-color: $color-base-2;
}

header[role="main"] {
  background-color: $color-tint;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: $border-s $color-base-12;
  z-index: 3;
  .wrapper {
    @include bp(xs) { padding-bottom: 0; }
  }
}

nav[role="main"] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .social a { @include margin(s,l); }
}

nav[role="secondary"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  * + * { @include margin(m,l); }
}

.logo {
  color: $color-highlight;
  &:hover, &:focus { color: $color-highlight-75; }
  @include bp(xs) { width: 100%; }
  @include bp(xsl) { width: auto; }
  svg {
    width: auto;
    @include bp(s) { height: rem(32); }
  }
}

footer[role="main"] {
  background-color: $color-tint;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: $border-s $color-base-12;
  z-index: 3;
  .wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
}

main {
  display: block;
  padding-top: rem(76);
  padding-bottom: rem(44);
  @include bp(xsl) { padding-top: rem(44); }
  @include bp(s) { padding-top: rem(60); }
}

.wrapper {
  @include padding(m);
  margin-left: auto;
  margin-right: auto;
  max-width: rem(608);
  @include bp(s) { max-width: rem(960); }
  @include bp(ml) {
    @include padding(l);
    @include padding(xl,t);
    @include padding(xl,b);
  }
  @include bp(xl) { max-width: rem(1280); }
  &--short {
    @include padding(xs,t);
    @include padding(xs,b);
  }
  &--bleed {
    max-width: 100%;
    @include bp(ml) { @include padding(l); }
  }
}

.linky {
  @include inline;
  @include type-s;
  @include type-caps;
  font-weight: 600;
  color: $color-base-50;
  height: rem(44);
  &:hover, &:focus { color: $color-highlight; }
  svg { @include margin(xs,l); }
}

.btn {
  @include inline;
  @include padding(xs, l);
  @include padding(xs, r);
  @include type-s;
  @include type-caps;
  font-weight: 600;
  background-color: $color-highlight;
  border: $border-s $color-highlight;
  border-radius: $space-xxs;
  color: $color-tint;
  height: rem(44);
  &:hover, &:focus { background-color: $color-highlight-75; }
  svg { @include margin(xs,l); }
  &--secondary {
    background-color: $color-tint;
    border-color: $color-base-12;
    color: $color-base-50;
    &:hover, &:focus {
      background-color: $color-tint;
      border-color: $color-base-38;
      color: $color-base-75;
    }
  }
}

.book {
  &__holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }
  &__title {
    color: $color-highlight;
    a:focus { text-decoration: underline !important; }
    &:before, &:after { color: $color-highlight-50; }
    &:before {
      content: "“";
      margin-left: rem(-12);
    }
    &:after { content: "”"; }
  }
  &__author {
    color: $color-base-50;
    &--actual { font-weight: 600; }
  }
  &__description {
    @include margin(m);
    @include bp(m) { max-width: 75%; }
    @include bp(xl) { max-width: 62.5%; }
  }
  .btn { @include margin(m); }
  figure a {
    display: inline-block;
    &:hover img, &:focus img {
      box-shadow: 0 rem(16) rem(32) rem(-16) rgba($color-shade, 0.25);
      transform: translateY(-0.125rem);
    }
  }
  img {
    background-color: $color-tint;
    background-image: url('../img/loading.svg');
    background-position: center center;
    background-repeat: no-repeat;
    min-height: rem(60);
    min-width: rem(60);
  }
  .loaded img {
    @include smooth-pop;
    width: auto;
    box-shadow: 0 rem(4) rem(8) rem(-4) rgba($color-shade, 0.5);
  }
}

.home .book, .related .book {
  width: 100%;
  @include bp(xsl) { width: $grid-1-2; }
  @include bp(m) { width: $grid-1-3; }
  @include bp(xl) { width: $grid-1-4; }
  .loaded {
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(168);
    @include bp(ml) { height: rem(240); }
    img {
      max-height: rem(168);
      max-width: rem(168);
      @include bp(ml) {
        max-height: rem(240);
        max-width: rem(240);
      }
    }
  }
  figcaption { @include padding(s); }
  &__title:before { margin-left: 0; }
}

.book--detail {
  @include bp(m) {
    align-items: center;
    display: flex;
    width: 100%;
  }
  figure {
    @include bp(m) {
      @include padding(m,r);
      width: $grid-1-3;
    }
    @include bp(l) { width: $grid-1-2; }
  }
  .loaded img {
    max-height: rem(240);
    @include bp(ml) { max-height: rem(360); }
  }
  figcaption {
    @include margin(m);
    @include type-center;
    @include bp(m) {
      @include padding(m,l);
      margin-top: 0;
      text-align: left;
      width: $grid-2-3;
    }
    @include bp(l) { width: $grid-1-2; }
    .book__title, .book__author, .book__description {
      @include type-legible;
      @include bp(m) {
        margin: 0;
      }
    }
    .book__description {
      @include type-left;
      @include bp(s) { @include margin(m, t); }
    }
  }
}

nav[role="books"] {
  position: absolute;
  top: rem(120);
  left: $space-s;
  right: $space-s;
  display: flex;
  justify-content: space-between;
  @include bp(s) {
    top: 50%;
    left: $space-m;
    right: $space-m;
    transform: translateY(-50%);
  }
  a {
    @include smooth-pop;
    border-radius: 50%;
    box-shadow: 0 rem(4) rem(8) rem(-4) rgba($color-shade,0.25);
    color: $color-base-50;
    &:hover, &:focus { color: $color-highlight; }
    &.next:hover, &.next:focus { transform: translateX(-$space-xs); }
    &.prev:hover, &.prev:focus { transform: translateX($space-xs); }
  }
  svg {
    height: rem(44);
    width: rem(44);
  }
}

.related {
  @include padding(m);
  border-bottom: $border-s $color-base-12;
  border-top: $border-s $color-base-12;
  header, footer { width: 100%; }
  header {
    @include padding(m,b);
    color: $color-base-50;
    display: none;
  }
  .book + header {
    display: block;
    order: -1;
  }
  .book + header + footer { display: none; }
}

.about {
  &__hero {
    align-items: center;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: calc(100vh - 7.5rem);
    position: relative;
    @include bp(xsl) { min-height: calc(100vh - 5.5rem); }
    @include bp(s) { min-height: calc(100vh - 6.5rem); }
    @include bp(ml) { background-position: center 25%; }
    &:before {
      @include fill;
      content: '';
      background-color: rgba($color-highlight,0.5);
    }
    .wrapper {
      position: relative;
      color: $color-tint;
      text-shadow: 0 rem(1) rem(2) rgba($color-shade,0.5);
      p { @include margin(s); }
    }
  }
  &__text {
    * { @include type-legible; }
    h2 { color: $color-base-50; }
    p {
      @include margin(xs);
      + h2 { @include margin(m); }
    }
  }
}

.search {
  &__bar {
    border-bottom: $border-s $color-base-12;
    .wrapper {
      align-items: stretch;
      display: flex;
    }
  }
  input {
    @include padding(xs);
    @include padding(s,l);
    @include padding(s,r);
    @include smooth;
    @include type-m;
    @include type-sans;
    border: $border-s $color-base-12;
    border-radius: $space-xs;
    color: $color-highlight;
    flex-grow: 1;
    width: auto;
    @include bp(xsl) {
       border-top-right-radius: 0;
       border-bottom-right-radius: 0;
    }
    &:-webkit-input-placeholder { color: $color-base-25; }
    &:focus:-webkit-input-placeholder { color: $color-base-75; }
    &:focus { border-color: $color-highlight; }
  }
  .sort {
    @include smooth;
    opacity: 0.5;
    height: auto;
    @include bp(xs) { display: none; }
    @include bp(xsl) { display: inline-flex; }
    &:first-of-type { border-radius: 0; }
    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    svg {
      @include smooth-pop;
      @include margin(xs,r);
      margin-left: 0;
      transform: rotate(180deg);
    }
    &.asc, &.desc { opacity: 1; }
    &.desc svg { transform: rotate(0); }
  }
  &__list {
    padding-top: 0;
    padding-bottom: 0;
  }
  &__result {
    @include padding(m);
    @include smooth;
    display: block;
    &:hover, &:focus { background-color: $color-tint; }
    + * { border-top: $border-s $color-base-12; }
  }
}

.error main article {
  @include type-center;
  > * { @include margin(s); }
  h1 { color: $color-highlight; }
  h1, p { @include type-legible; }
}

.styleguide main article {
  > * { @include margin(m); }
  > hr {
    + h3, + h3 + hr { @include margin(xs); }
    + h3 { color: $color-base-50; }
    &:first-child { margin-top: 0; }
  }
  #icons + hr + blockquote svg {
    @include inline;
    @include margin(s,r);
    color: $color-highlight;
    height: $space-l;
    width: $space-l;
  }
  .color {
    @include margin(s,r);
    display: inline-block;
    height: rem(44);
    width: rem(44);
    border-radius: 50%;
    box-shadow: 0 rem(8) rem(16) rem(-8) rgba($color-shade,0.25);
  }
}