@import "variables";
:root {
  @each $key, $value in $colors {
    --color__#{$key}: #{$value};
  }
  @each $key, $value in $sizes {
    --size__#{$key}: #{$value};
  }
  @each $key, $value in $type__families {
    --typeFamily__#{$key}: #{$value};
  }
  @each $key, $value in $type__lineheights {
    --typeLineheight__#{$key}: #{$value};
  }
  @each $key, $value in $type__sizes {
    --typeSize__#{$key}: #{$value};
  }
  @each $key, $value in $widths {
    --width__#{$key}: #{$value};
  }
  --header: calc(var(--size__m) * 10);
  @include breakpoint(xsl) {
    --header: var(--size__xxxl);
  }
}

:root[data-theme="dark"] {
  @each $key, $value in $colors-dark {
    --color__#{$key}: #{$value};
  }
}

html {
  background-color: var(--color__contrast);
  color: var(--color__base);
  height: -webkit-fill-available;
  font-family: var(--typeFamily__body);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--typeFamily__display);
}

h1 {
  font-size: var(--typeSize__xxl);
  line-height: var(--typeLineheight__xl);
}

h2 {
  font-size: var(--typeSize__xl);
  line-height: var(--typeLineheight__l);
}

h3 {
  font-size: var(--typeSize__l);
  line-height: var(--typeLineheight__l);
}

p,
li {
  font-size: var(--typeSize__m);
  line-height: var(--typeLineheight__l);
}

p {
  @include breakpoint(l) {
    font-size: var(--typeSize__ml);
  }
}

h4 {
  font-size: var(--typeSize__m);
  line-height: var(--typeLineheight__m);
}

h5 {
  font-size: var(--typeSize__xs);
  letter-spacing: var(--size__xxs);
  line-height: var(--typeLineheight__s);
  text-transform: uppercase;
}

a {
  p &,
  li & {
    @include smooth;
    border-bottom: rem(1) solid var(--color__brand);
    &:focus,
    &:hover {
      color: var(--color__brand);
    }
    &:focus {
      background-color: var(--color__contrast);
    }
  }
}

hr {
  background-color: var(--color__base--light);
  border-radius: rem(2);
  display: inline-block;
  height: var(--size__xs);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--size__m) !important;
  max-width: var(--size__xxxl);
  vertical-align: middle;
  width: 100%;
  h1 + & {
    margin-top: var(--size__l) !important;
  }
}

blockquote {
  border-left: var(--size__xs) solid var(--color__base--light);
}

::selection {
  background-color: var(--color__brand);
  color: white;
}

main {
  padding-top: var(--header);
  position: relative;
  z-index: 1;
}

.button {
  @include smooth;
  align-items: center;
  background-color: var(--color__contrast);
  border: var(--size__xxs) solid var(--color__brand);
  border-radius: calc(var(--size__xxl) / 2);
  color: var(--color__brand);
  display: inline-flex;
  font-family: var(--typeFamily__display);
  font-size: var(--typeSize__m);
  font-weight: 600;
  line-height: var(--typeLineheight__l);
  min-height: var(--size__xxl);
  min-width: var(--size__xxl);
  overflow: hidden;
  padding-left: var(--size__m);
  padding-right: var(--size__m);
  &:focus,
  &:hover {
    transform: scale(1.0125);
  }
}
