// Functions
@function rem($size) {
  $size-rem: $size/16;
  @return #{$size-rem}rem;
}

// Variables
$colors: (
  base: hsl(218, 24%, 24%),
  base--mid: hsl(218, 12%, 48%),
  base--light: hsl(218, 12%, 88%),
  base--ghost: hsl(218, 12%, 92%),
  brand: hsl(175, 100%, 38%),
  brand--light: hsl(175, 64%, 88%),
  brand--ghost: hsl(175, 64%, 98%),
  contrast: #ffffff,
);

$colors-dark: (
  base: #ffffff,
  base--mid: hsl(218, 12%, 64%),
  base--light: hsl(218, 12%, 32%),
  base--ghost: hsl(218, 12%, 24%),
  brand--light: hsl(175, 12%, 24%),
  brand--ghost: hsl(175, 12%, 12%),
  contrast: hsl(218, 12%, 16%),
);

$directions: (bottom, left, right, top);

$sizes: (
  xxs: rem(1),
  xs: rem(4),
  s: rem(8),
  m: rem(16),
  l: rem(32),
  xl: rem(40),
  xxl: rem(48),
  xxxl: rem(64),
);

$type__sizes: (
  xxs: rem(12),
  xs: rem(14),
  s: rem(16),
  m: rem(18),
  ml: rem(22),
  l: rem(24),
  xl: rem(28),
  xxl: rem(40),
  xxxl: rem(48),
);

$type__lineheights: (
  xs: rem(12),
  s: rem(16),
  m: rem(24),
  l: rem(32),
  xl: rem(40),
  xxl: rem(48),
  xxxl: rem(56),
);

$type__families: (
  body: (
    "proxima-nova",
    sans-serif,
  ),
  display: (
    "proxima-soft",
    sans-serif,
  ),
);

$widths: (
  xxs: rem(160),
  xs: rem(240),
  s: rem(320),
  m: rem(480),
  ml: rem(640),
  l: rem(960),
  xl: rem(1280),
  xxl: rem(1680),
  xxxl: rem(2432),
);

@mixin breakpoint($point) {
  @if $point==xs {
    @media (min-width: rem(16)) and (max-width: rem(736)) {
      @content;
    }
  } @else if $point==xs-only {
    @media (min-width: rem(16)) and (max-width: rem(414)) {
      @content;
    }
  } @else if $point==xsl {
    @media (min-width: rem(464)) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: rem(752)) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: rem(1008)) {
      @content;
    }
  } @else if $point==l {
    @media (min-width: rem(1264)) {
      @content;
    }
  } @else if $point==ml {
    @media (min-width: rem(1424)) {
      @content;
    }
  } @else if $point==xl {
    @media (min-width: rem(1584)) {
      @content;
    }
  } @else if $point==xxl {
    @media (min-width: rem(1616)) {
      @content;
    }
  }
}

@mixin smooth {
  transition: all 0.25s ease-in;
  transform: translate3d(0, 0, 0);
}
