:root {
  --color__hue--base: 196, 24%, 24%;
  --color__hue--highlight: 260, 75%, 64%;
  --color__hue--contrast--extra: 196, 24%, 12%;
  --color__gradient: linear-gradient(
    45deg,
    hsla(260, 75%, 64%, 0.1875),
    hsla(164, 75%, 64%, 0),
    hsla(196, 75%, 64%, 0.1875)
  );
  --type__family--primary: "proxima-nova", sans-serif;
  --type__family--secondary: "proxima-soft", sans-serif;
  &[data-theme="dark"] {
    --color__hue--base: 196, 100%, 100%;
    --color__hue--contrast: 196, 24%, 8%;
    --color__hue--contrast--extra: 196, 24%, 4%;
  }
}

html {
  background-attachment: fixed;
}

body {
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
.button__primary,
.button__secondary,
.button__tertiary {
  font-family: var(--type__family--secondary);
}

h1 {
  line-height: var(--type__lineheight--xl);
}

p a {
  font-weight: bold;
}

.button__secondary {
  --size: var(--size__m);
  box-shadow: calc(var(--size) * -1) calc(var(--size) * -1)
      calc(var(--size) * 2) calc(var(--size) * -1) hsla(260, 75%, 64%, 0.5),
    var(--size) var(--size) calc(var(--size) * 2) calc(var(--size) * -1)
      hsla(196, 75%, 64%, 0.5);
}

.button__secondary,
.control__input input {
  [data-theme="dark"] & {
    background-color: var(--color__contrast--extra);
  }
}

.color__bg--blur {
  @supports (backdrop-filter: blur(32px)) {
    background-color: hsla(196, 100%, 100%, 0.625);
    backdrop-filter: blur(32px);
    [data-theme="dark"] & {
      background-color: hsla(196, 24%, 8%, 0.625);
    }
  }
  @supports not (backdrop-filter: blur(32px)) {
    background-color: hsla(196, 100%, 100%, 0.98);
    [data-theme="dark"] & {
      background-color: hsla(196, 24%, 8%, 0.98);
    }
  }
}

.fancyHover {
  --rotation: -3.5deg;
  --size: var(--width__xs);
  @media (min-width: 47rem) {
    --size: var(--width__s);
  }
  @media (min-width: 63rem) {
    --size: var(--width__m);
  }
  height: 100%;
  width: auto;
  .loaded & {
    transition: transform 0.375s ease-in;
  }
  &:hover {
    transform: perspective(var(--size)) rotateY(var(--rotation))
      rotateX(calc((var(--rotation) / 2) * -1));
  }
}

header,
footer {
  position: sticky;
  z-index: 100;
}

header nav > section a,
footer a,
footer button {
  &:focus,
  &:hover {
    color: var(--color__highlight);
    background-color: var(--color__highlight--ghost);
  }
  &:focus-visible {
    box-shadow: 0 0 0 var(--size__xs) var(--color__highlight--semi);
  }
  .loaded & {
    transition: all 0.375s ease-in;
  }
}

header {
  top: 0;
  @media (min-width: 63rem) {
    grid-gap: 0 !important;
    grid-template-columns: 1fr var(--width__s);
  }
  nav {
    @media (min-width: 29rem) {
      grid-gap: 0 !important;
      grid-template-columns: auto 1fr;
    }
    .loaded & a {
      transition: all 0.375s ease-in;
    }
    > a:first-child {
      justify-self: center;
      @media (min-width: 63rem) {
        order: 2;
      }
      &:focus,
      &:focus-visible,
      &:hover {
        transform: scale(1.0125);
      }
    }
    section {
      @media (min-width: 29rem) {
        justify-content: flex-end !important;
      }
    }
  }
  form button {
    bottom: 0;
    right: 0;
    top: 0;
  }
}

header nav section,
footer nav {
  grid-row-gap: 0 !important;
}

footer {
  bottom: 0;
}

.detail > section,
.search,
.about > section,
.error {
  grid-template-columns: 1fr min(75ch, calc(100% - var(--size__l) * 2)) 1fr;
  > * {
    grid-column: 2;
    justify-self: start;
  }
}

.detail {
  nav {
    > * {
      border-radius: 50%;
      &[href=""] {
        color: var(--color__base--semi);
        pointer-events: none;
        &:focus-visible {
          box-shadow: inherit;
        }
      }
    }
    + * {
      margin-top: calc((var(--size__l) + var(--size__m)) * -1);
    }
  }
  > section {
    h1 {
      &:before {
        margin-left: calc(var(--type__size--m) * -1);
      }
    }
    figure {
      --size: var(--width__xs);
      @media (min-width: 47rem) {
        --size: var(--width__s);
      }
      img {
        aspect-ratio: 1/1;
        filter: drop-shadow(0 var(--size__s) var(--size__m) rgba(black, 0.25));
        height: var(--size);
        object-fit: contain;
        object-position: center;
        width: var(--size) l;
      }
    }
  }
  aside {
    grid-column: 1/-1;
    > section {
      grid-column: 1/-1;
      justify-items: center;
    }
  }
}

.search > section {
  grid-column: 1/-1;
}

.home,
.search > section {
  @media (min-width: 63rem) {
    --columnWidth: var(--width__s);
  }
}

.detail h1,
.book h3 {
  &:before,
  &:after {
    color: var(--color__base--mid);
  }
  &:before {
    content: "“";
  }
  &:after {
    content: "”";
  }
}

.book {
  min-width: var(--width__xs);
  &:focus-visible {
    background-color: var(--color__highlight--ghost);
    box-shadow: 0 0 0 var(--size__xs) var(--color__highlight--semi);
  }
  .loaded & {
    transition: all 0.375s ease-in;
  }
  img {
    aspect-ratio: 1/1;
    filter: drop-shadow(0 var(--size__s) var(--size__m) rgba(black, 0.25));
    object-fit: contain;
    object-position: center;
    height: var(--width__xxs);
    width: var(--width__xxs);
  }
}

.color__bg--gradient {
  background-image: var(--color__gradient);
}
