.book-holder {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  @include wrapper-bleed;
  .home & {
    @include bp(s) { padding-top: $space-m; }
    @include bp(xxl) { padding-top: $space-l; }
  }
}

nav[role="books"] {
  section { 
    position: absolute;
    top: 9rem;
    transform: translateY(-50%);
    @include bp(s) { top: 50%; }
    &.next {
      left: $space-s;
      &:hover svg { transform: translateX(-$space-xs); }
    }
    &.prev {
      right: $space-s;
      &:hover svg { transform: translateX($space-xs); }
    }
  }
  svg {
    height: $space-l;
    width: $space-l;
    border-radius: 50%;
    color: $color-highlight;
    border: $border $color-base-ghost;
    @include smooth-pop;
  }
}

.book {
  flex-basis: 100%;
  @include type-center;
  + .book { @include bp(xs) { @include oomph; } }
  figure {
    @include smooth;
    background: url('../img/loading.svg') no-repeat center center;
    min-height: $space-xl;
    background-color: $color-bg;
    box-shadow: 0 0.1875rem 0.375rem -0.1875rem rgba(#000,0.5);
    display: inline-block;
    width: auto;
    margin: 0 auto;
    &:hover { box-shadow: 0 1.5rem 3rem -1.5rem rgba(#000,0.375); }
  }
  img {
    margin: 0 auto;
    max-height: 100%;
  }
  figcaption { padding: $space-s; }
  .book--title {
    @include type-legible;
    &:before,&:after { opacity: 0.625; }
    &:before { content: "“"; }
    &:after { content: "”"; }
  }
  .book--author { color: $color-base-ish; }
}

.book--author {
  @include type-sans;
  @include oomph-small;
  &--actual { font-weight: 600; }
}

.home {
  .book {
    padding-top: $space-s;
    @include bp(xsl) {
      flex-basis: $grid-1-2;
      padding: $space-s;
    }
    @include bp(m) { flex-basis: $grid-1-3; }
    @include bp(l) { padding: $space-m; }
    @include bp(xl) { flex-basis: $grid-1-4; }
    figure {
      height: 15rem;
      @include bp(xl) { height: 22.5rem; }
      img { display: block; }
    }
    figcaption {
      margin-top: $space-s;
      width: 100%;
    }
    .book--title { margin: 0 auto; }
  }
}

.book--detail {
  display: flex;
  flex-wrap: wrap;
  figure, figcaption {
    flex-basis: 100%;
    @include bp(m) { flex-basis: $grid-1-2; }
  }
  figure {
    background: none !important;
    box-shadow: none !important;
    height: 15rem;
    display: flex;
    align-items: center;
    @include bp(s) { height: 22.5rem; }
    @include bp(xl) { height: 30rem; }
    img { box-shadow: 0 0.1875rem 0.375rem -0.1875rem rgba(#000,0.375); }
  }
  figcaption {
    @include oomph;
    @include bp(m) {
      @include type-left;
      margin-top: 0;
    }
  }
  .book--title {
    color: $color-highlight;
    &:before {
      @include bp(m) { margin-left: -0.875rem; }
      @include bp(xl) { margin-left: -1rem; }
    }
  }
  .book--description { @include type-left; }
  .book--description, .book--buy { @include oomph-big; }
  .book--title, .book--description {
    @include type-legible;
    @include bp(s) { margin-left: auto; margin-right: auto; }
    @include bp(m) { margin-left: 0; margin-right: 0; }
  }
}

.related {
  background-color: $color-bg;
  border-top: $border $color-base-ghost;
  .book-holder { justify-content: center; }
  header, footer {
    @include type-center;
    flex-basis: 100%;
    display: none;
    h4 {
      @include all-caps;
      color: $color-base-ish;
    }
  }
  header {
    order: -1;
    + footer { display: block; }
  }
  .book {
    @include oomph-big;
    min-width: 18.75rem;
    @include bp(xsl) {
      flex-basis: $grid-1-2;
      padding: $space-s;
    }
    @include bp(m) { flex-basis: $grid-1-3; }
    @include bp(l) { padding: $space-m; }
    @include bp(xl) { flex-basis: $grid-1-4; }
    figure {
      max-height: 10.5rem;
      width: auto;
      @include bp(xl) { max-height: 15rem; }
    }
    figcaption { margin-top: $space-s; }
    .book--title { margin: 0 auto; }
    + header { display: block; }
    + header + footer { display: none; }
  }
  footer {
    @include oomph-small;
    color: $color-base-ish;
    p + p { @include oomph-small; }
    svg {
      position: relative;
      max-height: $space-s + ($space-xs/2);
      top: $space-xs/4;
      @include bp(s) {
        max-height: $space-s + $space-xs;
        top: $space-xs/2;
      }
      path { fill: currentColor; }
    }
  }
}

.about__hero {
  position: relative;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  @include bp(s) { min-height: 100vh; }
  &:before {
    content: '';
    @include fill;
    background-color: rgba($color-highlight,0.625);
  }
  .wrapper {
    position: relative;
    color: $color-bg;
    > * {
      @include type-legible;
      text-shadow: 0 0.0625rem 0.125rem rgba(#000,0.5);
      margin-left: auto;
      margin-right: auto;
      + * { @include oomph; }
      .btn { text-shadow: none; }
    }
  }
}

.about__text {
  > * {
    @include type-legible;
    margin-left: auto;
    margin-right: auto;
  }
  h2 { color: $color-base-ish; }
  p {
    @include oomph-small;
    + h2 { @include oomph; }
  }
}

.error main .wrapper {
  @include type-center;
  > * + * { @include oomph; }
}

.search__list { @include oomph-big; }

.search__bar {
  display: flex;
  align-items: stretch;
  &--input {
    flex: 1;
    @include bp(xsl) {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
  &--sort {
    margin: 0;
    border-radius: 0;
    color: rgba($color-bg, 0.5);
    @include bp(xs) { display: none; }
    @include bp(xsl) {
      display: inline-flex;
      align-items: center;
    }
    &:last-of-type {
      border-left: $border $color-highlight-ish;
      border-top-right-radius: $space-xs;
      border-bottom-right-radius: $space-xs;
    }
    svg {
      margin-right: $space-xs;
      @include bp(s) { margin-right: $space-s; }
    }
    &.asc, &.desc {
      background-color: $color-highlight-dark;
      color: $color-bg;
    }
    &.desc svg { transform: rotate(180deg); }
  }
}

.search__result {
  @include type-left;
  display: block;
  position: relative;
  padding: $space-s;
  margin-top: 0 !important;
  &:hover { background-color: $color-highlight-ghost; }
  + .search__result { border-top: $border $color-base-ghost; }
  .book--author { margin-top: 0; }
}

.search {
  main + .search__result, footer .search__result { display: none; }
}

.styleguide main .wrapper {
  > * + *:not(hr + h3, hr + h3 + hr) { @include oomph; }
  > *:not(hr + h3, hr + h3 + hr) {
    @include type-legible;
    margin-left: auto;
    margin-right: auto;
  }
  blockquote svg {
    height: $space-m + $space-s !important;
    width: $space-m + $space-s !important;
    color: $color-base-ish;
    @include inline;
  }
  span[class^="color__bg--"] {
    display: block;
    height: $space-l;
    width: $space-l;
    border-radius: $space-xs;
    border: $border $color-bg;
  }
}