@charset "UTF-8";
@import url("https://use.typekit.net/fbk7qer.css");
*:focus {
  outline: none; }

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; }

html {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  min-height: 100%;
  vertical-align: baseline; }

img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto; }

svg {
  max-width: 100%;
  height: auto; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, audio, canvas, video, pre {
  display: block; }

canvas {
  -ms-touch-action: double-tap-zoom; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  border: inherit;
  color: inherit;
  cursor: pointer; }

input[type="email"], input[type="number"], input[type="password"],
input[type="search"], input[type="tel"], input[type="text"], input[type="url"],
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"],
input[type="month"], input[type="time"], input[type="week"], select, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  font-family: inherit;
  display: block;
  border: inherit; }
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus,
  input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus,
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus,
  input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select:focus, textarea:focus {
    outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

select::-ms-expand {
  display: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

label, input, button, select, textarea {
  font-weight: inherit;
  color: inherit;
  width: 100%;
  max-width: 100%;
  border: inherit;
  outline: 0; }

label {
  display: block;
  width: auto; }

select {
  outline: 0;
  background: transparent;
  width: 100%; }

input[type="file"], input[type="image"], input[type="submit"],
button[type="submit"], input[type="reset"], input[type="button"],
input[type="radio"], input[type="checkbox"] {
  width: auto;
  height: auto;
  display: inline-block; }

input[type="radio"], input[type="checkbox"] {
  margin-right: inherit; }

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  cursor: not-allowed; }

input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"][readonly], input[type="checkbox"][readonly] {
  background-color: transparent; }

button, html input[type="button"], input[type="reset"], input[type="submit"], button[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  background: none;
  width: auto; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner, select::-moz-focus-inner, a::-moz-focus-inner {
  border: 0;
  padding: 0; }

html {
  font-family: "proxima-nova", sans-serif;
  font-size: 100%;
  color: #00302c;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga", "clig"; }

h1 {
  font-size: 1.6875rem;
  line-height: 1.3333333333; }
  @media (min-width: 1rem) and (max-width: 46rem) {
    h1 {
      font-size: 1.5rem;
      line-height: 1; } }
  @media (min-width: 99rem) {
    h1 {
      font-size: 2.25rem;
      line-height: 1; } }

h2 {
  font-size: 1.5rem;
  line-height: 1.5; }
  @media (min-width: 1rem) and (max-width: 46rem) {
    h2 {
      font-size: 1.375rem;
      line-height: 1.6363636364; } }
  @media (min-width: 99rem) {
    h2 {
      font-size: 1.6875rem;
      line-height: 1.3333333333; } }

h3 {
  font-size: 1.375rem;
  line-height: 1.0909090909; }
  @media (min-width: 1rem) and (max-width: 46rem) {
    h3 {
      font-size: 1.125rem;
      line-height: 1.3333333333; } }
  @media (min-width: 99rem) {
    h3 {
      font-size: 1.5rem;
      line-height: 1.5; } }

p, li {
  font-size: 1.125rem;
  line-height: 2; }
  @media (min-width: 1rem) and (max-width: 46rem) {
    p, li {
      font-size: 1rem;
      line-height: 1.5; } }
  @media (min-width: 99rem) {
    p, li {
      font-size: 1.375rem;
      line-height: 1.6363636364; } }

h4 {
  font-size: 1rem;
  line-height: 1.5; }
  @media (min-width: 1rem) and (max-width: 46rem) {
    h4 {
      font-size: 0.875rem;
      line-height: 1.1428571429; } }
  @media (min-width: 99rem) {
    h4 {
      font-size: 1.125rem;
      line-height: 1.3333333333; } }

h5 {
  font-size: 0.875rem;
  line-height: 1.1428571429; }
  @media (min-width: 1rem) and (max-width: 46rem) {
    h5 {
      font-size: 0.75rem;
      line-height: 1.3333333333; } }
  @media (min-width: 99rem) {
    h5 {
      font-size: 1rem;
      line-height: 1.5; } }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

hr {
  display: block;
  border-top: 0.0625rem solid #bfefeb; }

abbr {
  font-variant-caps: all-small-caps;
  font-feature-settings: "c2sc", "smcp"; }

code {
  font-family: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Monaco", "Courier New", "Courier", monospace;
  padding: 0.5rem;
  background-color: white;
  border: 0.0625rem solid #e0e6e6;
  border-radius: 0.25rem;
  color: #406461;
  white-space: pre-wrap; }
  @media (min-width: 99rem) {
    code {
      padding: 1rem; } }

pre {
  font-size: 1.125rem;
  line-height: 2;
  padding: 1rem;
  background-color: white;
  border: 0.0625rem solid #e0e6e6;
  border-radius: 0.5rem;
  overflow: hidden;
  overflow-x: auto;
  word-wrap: normal; }
  @media (min-width: 1rem) and (max-width: 46rem) {
    pre {
      font-size: 1rem;
      line-height: 1.5; } }
  @media (min-width: 99rem) {
    pre {
      font-size: 1.375rem;
      line-height: 1.6363636364; } }
  @media (min-width: 99rem) {
    pre {
      padding: 1.5rem; } }
  pre code {
    border: none;
    padding: 0;
    white-space: pre; }

.type__style--sans {
  font-family: "proxima-nova", sans-serif; }

.type__style--serif {
  font-family: "proxima-soft", sans-serif; }

.type__style--mono {
  font-family: "Consolas", "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Monaco", "Courier New", "Courier", monospace; }

.type__style--caps {
  text-transform: uppercase; }

.type__align--left {
  text-align: left; }

.type__align--center {
  text-align: center; }
  .type__align--center img {
    margin-left: auto;
    margin-right: auto; }

.type__align--right {
  text-align: right; }

@media (min-width: 29rem) {
  .type__align--legible {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto; } }
@media (min-width: 99rem) {
  .type__align--legible {
    max-width: 62.5%; } }

.type__align--inline {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center; }
  .type__align--inline + .type__align--inline {
    margin-left: 1rem; }
    @media (min-width: 99rem) {
      .type__align--inline + .type__align--inline {
        margin-left: 1.5rem; } }

ol, ul {
  padding-left: 1.5rem;
  list-style-position: outside; }
  @media (min-width: 99rem) {
    ol, ul {
      padding-left: 2rem; } }
  @media (min-width: 63rem) {
    ol, ul {
      padding-left: 0; } }

ol li {
  list-style-type: decimal; }

ul li {
  list-style-type: disc; }

a {
  transition: all 0.375s ease-in; }

p a:not(.btn) {
  color: #00BFAF;
  text-decoration: underline; }
  p a:not(.btn):hover {
    color: #40cfc3; }

.color__bg--base {
  background-color: #00302c; }

.color__bg--base-75 {
  background-color: #406461; }

.color__bg--base-62 {
  background-color: #617f7c; }

.color__bg--base-50 {
  background-color: #809896; }

.color__bg--base-38 {
  background-color: #9eb0af; }

.color__bg--base-25 {
  background-color: #bfcbca; }

.color__bg--base-12 {
  background-color: #e0e6e6; }

.color__bg--base-5 {
  background-color: #f2f5f4; }

.color__bg--base-dark {
  background-color: #002421; }

.color__bg--highlight {
  background-color: #00BFAF; }

.color__bg--highlight-75 {
  background-color: #40cfc3; }

.color__bg--highlight-62 {
  background-color: #61d7cd; }

.color__bg--highlight-50 {
  background-color: #80dfd7; }

.color__bg--highlight-38 {
  background-color: #9ee7e1; }

.color__bg--highlight-25 {
  background-color: #bfefeb; }

.color__bg--highlight-12 {
  background-color: #e0f7f5; }

.color__bg--highlight-5 {
  background-color: #f2fcfb; }

.color__bg--highlight-dark {
  background-color: #008f83; }

.color__bg--white {
  background-color: white; }

.color__type--base {
  color: #00302c; }

.color__type--base-75 {
  color: #406461; }

.color__type--base-62 {
  color: #617f7c; }

.color__type--base-50 {
  color: #809896; }

.color__type--base-38 {
  color: #9eb0af; }

.color__type--base-25 {
  color: #bfcbca; }

.color__type--base-12 {
  color: #e0e6e6; }

.color__type--base-5 {
  color: #f2f5f4; }

.color__type--base-dark {
  color: #002421; }

.color__type--highlight {
  color: #00BFAF; }

.color__type--highlight-75 {
  color: #40cfc3; }

.color__type--highlight-62 {
  color: #61d7cd; }

.color__type--highlight-50 {
  color: #80dfd7; }

.color__type--highlight-38 {
  color: #9ee7e1; }

.color__type--highlight-25 {
  color: #bfefeb; }

.color__type--highlight-12 {
  color: #e0f7f5; }

.color__type--highlight-5 {
  color: #f2fcfb; }

.color__type--highlight-dark {
  color: #008f83; }

.color__type--white {
  color: white; }

h1, h2, h3, h4, h5 {
  font-family: "proxima-soft", sans-serif; }

.btn, .linky, .book__author--actual {
  font-family: "proxima-soft-condensed", sans-serif; }

h4 {
  text-transform: uppercase;
  font-weight: normal; }

h5 {
  text-transform: uppercase; }

html {
  background-color: #fafbfb; }

header[role="main"] {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 0.0625rem solid #e0e6e6;
  z-index: 3; }
  @media (min-width: 1rem) and (max-width: 46rem) {
    header[role="main"] .wrapper {
      padding-bottom: 0; } }

nav[role="main"] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  nav[role="main"] .social a {
    margin-left: 1rem; }
    @media (min-width: 99rem) {
      nav[role="main"] .social a {
        margin-left: 1.5rem; } }

nav[role="secondary"] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center; }
  nav[role="secondary"] * + * {
    margin-left: 1.5rem; }
    @media (min-width: 99rem) {
      nav[role="secondary"] * + * {
        margin-left: 2rem; } }

.logo {
  color: #00BFAF; }
  .logo:hover, .logo:focus {
    color: #40cfc3; }
  @media (min-width: 1rem) and (max-width: 46rem) {
    .logo {
      width: 100%; } }
  @media (min-width: 29rem) {
    .logo {
      width: auto; } }
  .logo svg {
    width: auto; }
    @media (min-width: 47rem) {
      .logo svg {
        height: 2rem; } }

footer[role="main"] {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 0.0625rem solid #e0e6e6;
  z-index: 3; }
  footer[role="main"] .wrapper {
    padding-top: 0;
    padding-bottom: 0; }

main {
  display: block;
  padding-top: 4.75rem;
  padding-bottom: 2.75rem; }
  @media (min-width: 29rem) {
    main {
      padding-top: 2.75rem; } }
  @media (min-width: 47rem) {
    main {
      padding-top: 3.75rem; } }

.wrapper {
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 38rem; }
  @media (min-width: 99rem) {
    .wrapper {
      padding: 2rem; } }
  @media (min-width: 47rem) {
    .wrapper {
      max-width: 60rem; } }
  @media (min-width: 89rem) {
    .wrapper {
      padding: 2rem;
      padding-top: 4rem;
      padding-bottom: 4rem; } }
  @media (min-width: 89rem) and (min-width: 99rem) {
    .wrapper {
      padding: 4rem; } }
  @media (min-width: 89rem) and (min-width: 99rem) {
    .wrapper {
      padding-top: 6rem; } }
  @media (min-width: 89rem) and (min-width: 99rem) {
    .wrapper {
      padding-bottom: 6rem; } }

  @media (min-width: 99rem) {
    .wrapper {
      max-width: 80rem; } }
  .wrapper--short {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
    @media (min-width: 99rem) {
      .wrapper--short {
        padding-top: 1rem; } }
    @media (min-width: 99rem) {
      .wrapper--short {
        padding-bottom: 1rem; } }
  .wrapper--bleed {
    max-width: 100%; }
    @media (min-width: 89rem) {
      .wrapper--bleed {
        padding: 2rem; } }
  @media (min-width: 89rem) and (min-width: 99rem) {
    .wrapper--bleed {
      padding: 4rem; } }

.linky {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 600;
  color: #809896;
  height: 2.75rem; }
  @media (min-width: 1rem) and (max-width: 46rem) {
    .linky {
      font-size: 0.875rem;
      line-height: 1.1428571429; } }
  @media (min-width: 99rem) {
    .linky {
      font-size: 1.125rem;
      line-height: 1.3333333333; } }
  .linky:hover, .linky:focus {
    color: #00BFAF; }
  .linky svg {
    margin-left: 0.5rem; }
    @media (min-width: 99rem) {
      .linky svg {
        margin-left: 1rem; } }

.btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #00BFAF;
  border: 0.0625rem solid #00BFAF;
  border-radius: 0.25rem;
  color: white;
  height: 2.75rem; }
  @media (min-width: 99rem) {
    .btn {
      padding-left: 1rem; } }
  @media (min-width: 99rem) {
    .btn {
      padding-right: 1rem; } }
  @media (min-width: 1rem) and (max-width: 46rem) {
    .btn {
      font-size: 0.875rem;
      line-height: 1.1428571429; } }
  @media (min-width: 99rem) {
    .btn {
      font-size: 1.125rem;
      line-height: 1.3333333333; } }
  .btn:hover, .btn:focus {
    background-color: #40cfc3; }
  .btn svg {
    margin-left: 0.5rem; }
    @media (min-width: 99rem) {
      .btn svg {
        margin-left: 1rem; } }
  .btn--secondary {
    background-color: white;
    border-color: #e0e6e6;
    color: #809896; }
    .btn--secondary:hover, .btn--secondary:focus {
      background-color: white;
      border-color: #9eb0af;
      color: #406461; }

.book__holder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative; }
.book__title {
  color: #00BFAF; }
  .book__title a:focus {
    text-decoration: underline !important; }
  .book__title:before, .book__title:after {
    color: #80dfd7; }
  .book__title:before {
    content: "“";
    margin-left: -0.75rem; }
  .book__title:after {
    content: "”"; }
.book__author {
  color: #809896; }
  .book__author--actual {
    font-weight: 600; }
.book__description {
  margin-top: 1.5rem; }
  @media (min-width: 99rem) {
    .book__description {
      margin-top: 2rem; } }
  @media (min-width: 63rem) {
    .book__description {
      max-width: 75%; } }
  @media (min-width: 99rem) {
    .book__description {
      max-width: 62.5%; } }
.book .btn {
  margin-top: 1.5rem; }
  @media (min-width: 99rem) {
    .book .btn {
      margin-top: 2rem; } }
.book figure a {
  display: inline-block; }
  .book figure a:hover img, .book figure a:focus img {
    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.25);
    transform: translateY(-0.125rem); }
.book img {
  background-color: white;
  background-image: url("../img/loading.svg");
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 3.75rem;
  min-width: 3.75rem; }
.book .loaded img {
  transition: all 0.5s cubic-bezier(0.5, 0.1, 0, 1.2);
  width: auto;
  box-shadow: 0 0.25rem 0.5rem -0.25rem rgba(0, 0, 0, 0.5); }

.home .book, .related .book {
  width: 100%; }
  @media (min-width: 29rem) {
    .home .book, .related .book {
      width: 50%; } }
  @media (min-width: 63rem) {
    .home .book, .related .book {
      width: 33.3333333333%; } }
  @media (min-width: 99rem) {
    .home .book, .related .book {
      width: 25%; } }
  .home .book .loaded, .related .book .loaded {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    height: 10.5rem; }
    @media (min-width: 89rem) {
      .home .book .loaded, .related .book .loaded {
        height: 15rem; } }
    .home .book .loaded img, .related .book .loaded img {
      max-height: 10.5rem;
      max-width: 10.5rem; }
      @media (min-width: 89rem) {
        .home .book .loaded img, .related .book .loaded img {
          max-height: 15rem;
          max-width: 15rem; } }
  .home .book figcaption, .related .book figcaption {
    padding: 1rem; }
    @media (min-width: 99rem) {
      .home .book figcaption, .related .book figcaption {
        padding: 1.5rem; } }
  .home .book__title:before, .related .book__title:before {
    margin-left: 0; }

@media (min-width: 63rem) {
  .book--detail {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    width: 100%; } }
@media (min-width: 63rem) {
  .book--detail figure {
    padding-right: 1.5rem;
    width: 33.3333333333%; } }
  @media (min-width: 63rem) and (min-width: 99rem) {
    .book--detail figure {
      padding-right: 2rem; } }

@media (min-width: 79rem) {
  .book--detail figure {
    width: 50%; } }
.book--detail .loaded img {
  max-height: 15rem; }
  @media (min-width: 89rem) {
    .book--detail .loaded img {
      max-height: 22.5rem; } }
.book--detail figcaption {
  margin-top: 1.5rem;
  text-align: center; }
  @media (min-width: 99rem) {
    .book--detail figcaption {
      margin-top: 2rem; } }
  .book--detail figcaption img {
    margin-left: auto;
    margin-right: auto; }
  @media (min-width: 63rem) {
    .book--detail figcaption {
      padding-left: 1.5rem;
      margin-top: 0;
      text-align: left;
      width: 66.6666666667%; } }
  @media (min-width: 63rem) and (min-width: 99rem) {
    .book--detail figcaption {
      padding-left: 2rem; } }

  @media (min-width: 79rem) {
    .book--detail figcaption {
      width: 50%; } }
  @media (min-width: 29rem) {
    .book--detail figcaption .book__title, .book--detail figcaption .book__author, .book--detail figcaption .book__description {
      max-width: 75%;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 99rem) {
    .book--detail figcaption .book__title, .book--detail figcaption .book__author, .book--detail figcaption .book__description {
      max-width: 62.5%; } }
  @media (min-width: 63rem) {
    .book--detail figcaption .book__title, .book--detail figcaption .book__author, .book--detail figcaption .book__description {
      margin: 0; } }
  .book--detail figcaption .book__description {
    text-align: left; }
    @media (min-width: 47rem) {
      .book--detail figcaption .book__description {
        margin-top: 1.5rem; } }
  @media (min-width: 47rem) and (min-width: 99rem) {
    .book--detail figcaption .book__description {
      margin-top: 2rem; } }

nav[role="books"] {
  position: absolute;
  top: 7.5rem;
  left: 1rem;
  right: 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  @media (min-width: 47rem) {
    nav[role="books"] {
      top: 50%;
      left: 1.5rem;
      right: 1.5rem;
      transform: translateY(-50%); } }
  nav[role="books"] a {
    transition: all 0.5s cubic-bezier(0.5, 0.1, 0, 1.2);
    border-radius: 50%;
    box-shadow: 0 0.25rem 0.5rem -0.25rem rgba(0, 0, 0, 0.25);
    color: #809896; }
    nav[role="books"] a:hover, nav[role="books"] a:focus {
      color: #00BFAF; }
    nav[role="books"] a.next:hover, nav[role="books"] a.next:focus {
      transform: translateX(-0.5rem); }
    nav[role="books"] a.prev:hover, nav[role="books"] a.prev:focus {
      transform: translateX(0.5rem); }
  nav[role="books"] svg {
    height: 2.75rem;
    width: 2.75rem; }

.related {
  padding: 1.5rem;
  border-bottom: 0.0625rem solid #e0e6e6;
  border-top: 0.0625rem solid #e0e6e6; }
  @media (min-width: 99rem) {
    .related {
      padding: 2rem; } }
  .related header, .related footer {
    width: 100%; }
  .related header {
    padding-bottom: 1.5rem;
    color: #809896;
    display: none; }
    @media (min-width: 99rem) {
      .related header {
        padding-bottom: 2rem; } }
  .related .book + header {
    display: block;
    -ms-flex-order: -1;
        order: -1; }
  .related .book + header + footer {
    display: none; }

.about__hero {
  -ms-flex-align: center;
      align-items: center;
  background-size: cover;
  background-position: center center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100%;
  min-height: calc(100vh - 7.5rem);
  position: relative; }
  @media (min-width: 29rem) {
    .about__hero {
      min-height: calc(100vh - 5.5rem); } }
  @media (min-width: 47rem) {
    .about__hero {
      min-height: calc(100vh - 6.5rem); } }
  @media (min-width: 89rem) {
    .about__hero {
      background-position: center 25%; } }
  .about__hero:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 191, 175, 0.5); }
  .about__hero .wrapper {
    position: relative;
    color: white;
    text-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.5); }
    .about__hero .wrapper p {
      margin-top: 1rem; }
      @media (min-width: 99rem) {
        .about__hero .wrapper p {
          margin-top: 1.5rem; } }
@media (min-width: 29rem) {
  .about__text * {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto; } }
@media (min-width: 99rem) {
  .about__text * {
    max-width: 62.5%; } }
.about__text h2 {
  color: #809896; }
.about__text p {
  margin-top: 0.5rem; }
  @media (min-width: 99rem) {
    .about__text p {
      margin-top: 1rem; } }
  .about__text p + h2 {
    margin-top: 1.5rem; }
    @media (min-width: 99rem) {
      .about__text p + h2 {
        margin-top: 2rem; } }

.search__bar {
  border-bottom: 0.0625rem solid #e0e6e6; }
  .search__bar .wrapper {
    -ms-flex-align: stretch;
        align-items: stretch;
    display: -ms-flexbox;
    display: flex; }
.search input {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 0.375s ease-in;
  font-size: 1.125rem;
  line-height: 2;
  font-family: "proxima-nova", sans-serif;
  border: 0.0625rem solid #e0e6e6;
  border-radius: 0.5rem;
  color: #00BFAF;
  -ms-flex-positive: 1;
      flex-grow: 1;
  width: auto; }
  @media (min-width: 99rem) {
    .search input {
      padding: 1rem; } }
  @media (min-width: 99rem) {
    .search input {
      padding-left: 1.5rem; } }
  @media (min-width: 99rem) {
    .search input {
      padding-right: 1.5rem; } }
  @media (min-width: 1rem) and (max-width: 46rem) {
    .search input {
      font-size: 1rem;
      line-height: 1.5; } }
  @media (min-width: 99rem) {
    .search input {
      font-size: 1.375rem;
      line-height: 1.6363636364; } }
  @media (min-width: 29rem) {
    .search input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; } }
  .search input:-webkit-input-placeholder {
    color: #bfcbca; }
  .search input:focus:-webkit-input-placeholder {
    color: #406461; }
  .search input:focus {
    border-color: #00BFAF; }
.search .sort {
  transition: all 0.375s ease-in;
  opacity: 0.5;
  height: auto; }
  @media (min-width: 1rem) and (max-width: 46rem) {
    .search .sort {
      display: none; } }
  @media (min-width: 29rem) {
    .search .sort {
      display: -ms-inline-flexbox;
      display: inline-flex; } }
  .search .sort:first-of-type {
    border-radius: 0; }
  .search .sort:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .search .sort svg {
    transition: all 0.5s cubic-bezier(0.5, 0.1, 0, 1.2);
    margin-right: 0.5rem;
    margin-left: 0;
    transform: rotate(180deg); }
    @media (min-width: 99rem) {
      .search .sort svg {
        margin-right: 1rem; } }
  .search .sort.asc, .search .sort.desc {
    opacity: 1; }
  .search .sort.desc svg {
    transform: rotate(0); }
.search__list {
  padding-top: 0;
  padding-bottom: 0; }
.search__result {
  padding: 1.5rem;
  transition: all 0.375s ease-in;
  display: block; }
  @media (min-width: 99rem) {
    .search__result {
      padding: 2rem; } }
  .search__result:hover, .search__result:focus {
    background-color: white; }
  .search__result + * {
    border-top: 0.0625rem solid #e0e6e6; }

.error main article {
  text-align: center; }
  .error main article img {
    margin-left: auto;
    margin-right: auto; }
  .error main article > * {
    margin-top: 1rem; }
    @media (min-width: 99rem) {
      .error main article > * {
        margin-top: 1.5rem; } }
  .error main article h1 {
    color: #00BFAF; }
  @media (min-width: 29rem) {
    .error main article h1, .error main article p {
      max-width: 75%;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 99rem) {
    .error main article h1, .error main article p {
      max-width: 62.5%; } }

.styleguide main article > * {
  margin-top: 1.5rem; }
  @media (min-width: 99rem) {
    .styleguide main article > * {
      margin-top: 2rem; } }
.styleguide main article > hr + h3, .styleguide main article > hr + h3 + hr {
  margin-top: 0.5rem; }
  @media (min-width: 99rem) {
    .styleguide main article > hr + h3, .styleguide main article > hr + h3 + hr {
      margin-top: 1rem; } }
.styleguide main article > hr + h3 {
  color: #809896; }
.styleguide main article > hr:first-child {
  margin-top: 0; }
.styleguide main article #icons + hr + blockquote svg {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 1rem;
  color: #00BFAF;
  height: 2rem;
  width: 2rem; }
  @media (min-width: 99rem) {
    .styleguide main article #icons + hr + blockquote svg {
      margin-right: 1.5rem; } }
.styleguide main article .color {
  margin-right: 1rem;
  display: inline-block;
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.25); }
  @media (min-width: 99rem) {
    .styleguide main article .color {
      margin-right: 1.5rem; } }
