---
title: Search
description: Search results
layout: base.njk
permalink:
  searchy: /search/:query/
class: search flow__grid flow__align--h-start flow__align--v-start
---

{% set query = eleventy.serverless.path.query | replace('-',' ') %}
{% set results = query | search(books) %}

<h1 class="color__type--base--ish padding__top--l type__align--center width__full">Results for “{{ query }}”</h1>
<section class="flow__grid flow__align--v-start flow__gap--l flow__grid--columns-auto padding__all--l width__full">
  {% for item in results %}
    {% Book item %}
  {% else %}
    <section class="oomph__v--m type__align--center">
      <p>No books found…</p>
      <a class="button__secondary flow__gap--s type__weight--semibold" href="/books/{{ books | random }}">{% Icon 'surprise' %}Surprise Me</a>
    </section>
  {% endfor %}
</section>