---
title: About Us
description: Learn more about why we started this site
layout: layouts/base.njk
class: about
---

<figure>
  <picture><source sizes="(min-width: 99rem) 1920px, (min-width: 63rem) 1280px, (min-width: 29rem) 640px, 320px" srcset="https://images.ctfassets.net/cuehicrlqnvu/1z7fgfLDKO0IvaINQmcfmW/6e435f7f726b47b5ce1232fcd066f087/tkr-about.jpg?w=1920&amp;fm=webp 1920w" type="image/webp">
    <source sizes="(min-width: 99rem) 1920px, (min-width: 63rem) 1280px, (min-width: 29rem) 640px, 320px" srcset="https://images.ctfassets.net/cuehicrlqnvu/1z7fgfLDKO0IvaINQmcfmW/6e435f7f726b47b5ce1232fcd066f087/tkr-about.jpg?w=1920 1920w">
    <img class="width__full" alt="Our smiling family" src="https://images.ctfassets.net/cuehicrlqnvu/1z7fgfLDKO0IvaINQmcfmW/6e435f7f726b47b5ce1232fcd066f087/tkr-about.jpg?w=320"></picture>
</figure>
<section class="flow__grid flow__align--h-start flow__align--v-start oomph__v--m padding__bottom--xxxl padding__top--xxxl">
  <h1 class="color__type--highlight">We read great books together</h1>
  <p>We try and go to the library as often as possible to find new—and favorite—books to sit back and sink into. Books are amazing transformative devices that expand our minds and we wouldn't be the same without them.</p>
  <p>Help us find new books by suggesting ones we haven't read or follow our journey online, and hopefully you'll find a good read for you and your kids. Happy reading!</p>
  <a class="button__secondary flow__gap--s type__weight--semibold" href="mailto:thesekidsread@gmail.com?subject=You should read this book next…">{% Icon "suggest" %} Suggest a Book</a>
</section>
<section class="border__bottom border__top color__bg--contrast color__border--highlight--light flow__grid flow__align--h-start flow__align--v-start oomph__v--m padding__bottom--xxxl padding__top--xxxl">
  <h3 class="color__type--base--ish">Jared (Dad)</h3>
  <p>Builds <a href="https://jaredpendergraft.com" target="_blank" rel="noopener">web-things</a> and loves books with silly stories and great illustrations. His favorite authors include <a href="/search?query=oliver+jeffers">Oliver Jeffers</a> and <a href="/search?query=luke+pearson">Luke Pearson</a>.</p>
  <h3 class="color__type--base--ish">Allison (Mom)</h3>
  <p>Loves books that rhyme and have beautiful artwork. She’s drawn to the classics and often digs around at her mom’s house for books from her childhood to share with the kids.</p>
  <h3 class="color__type--base--ish">Avery</h3>
  <p>Is <a href="https://averymirabelle.com" target="_blank" rel="noopener">already an artist</a> and loves comics—like <a href="/books/smile/">Smile</a> and <a href="/books/sisters/">Sisters</a>—and stories of adventure including Hilda and Harry Potter. She’s moved on to lengthy chapter books and can regularly be found curled up on the couch, deep in a story.</p>
  <h3 class="color__type--base--ish">Ezra</h3>
  <p>Loves <a href="https://ezrapendergraft.com" target="_blank" rel="noopener">cool facts</a> and marvels at any book with a dinosaur, robot or monster in it. He really enjoys the illustrations in <a href="/books/the-halloween-kid">The Halloween Kid</a> and is already planning out next year’s costume.</p>
</section>